/*
* David Gaulke
* 3/5/2015
* Formats form pages
*/
#sectionArea
{
	text-align: left;
}
fieldset
{
	border-radius: 10px;
}
input[type="text"]
{
	width: 150px;
}
input[name="addr1"], input[name="addr2"], input[name="b_addr1"], input[name="b_addr2"], input[name="email"], input[name="category_desc"]
{
	width: 350px;
}
input[name="nameOnCard"]
{
	width: 200px;
}
input[name="zip"], input[name="b_zip"], input[name="customer_id"], input[name="cvv"], input[name="quantity"], .quantity
{
	width: 75px;
}
form, textarea
{
	width: inherit;
}
input
{
	margin: 2px;
}
input[name="submit"]
{
	margin: 10px 6px;
}
fieldset > input[type="submit"], input[name="next"]
{
	margin: 4px 10px;
	padding: 0 10px;
}

.req:before, .note, .invalid
{
	font-size: small;
	color: #ff0000;
}
.req::before
{
	content: "*";
}
.invalid
{
	visibility: hidden;
}
#profile
{
	float:left;
	height: 80px;
}
#update, #register
{
	font-size: small;
}
